.u-section-1 {
  background-image: linear-gradient(-45deg, #478ac9, #db545a);
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  width: 861px;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 375px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}